nav ul{
    list-style: none;
    display: grid; /* Distribuye de manera uniforme */
    grid-template-columns: repeat(4, auto); /* 4 columnas para los enlaces */
    gap: 20px; /* Espaciado entre enlaces */
    justify-content: center; /* Centrar los enlaces */
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
}
nav {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-color: black;
}
nav ul li a {
    color: #1e90ff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}